<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account</title>
</head>
<body>
<h1>Account Page</h1>
<p>Welcome, <%= user.username %></p>

<h2>Your Registered Passkeys</h2>
<ul>
    <% passkeys.forEach(passkey => { %>
        <li>Passkey ID: <%= passkey.id %></li>
    <% }) %>
</ul>

<a href="/logout">Logout</a>
</body>
</html>